@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__square/header__square.css);
@import url(./__main-illustration.css/header__main-illustration.css);
@import url(./__link/header__link.css);
@import url(../rotation/rotation.css);

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    background-color:  #F2F2F2;
    z-index: 0;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }