.kaufman__triangle{
    background-image: url(../../../images/kaufman-triangle.svg);
    background-repeat: no-repeat;
    width: 660px;
    height: 636px;
    position: absolute;
    top: 0;
    right: -124px;
    z-index: -1;
    margin: 0px;
    padding: 0px;
  }